[Unit]
Description=Caddy docker DNS update

[Service]
Type=oneshot
User=user
Group=user
WorkingDirectory=/home/user/caddy-docker-dns
ExecStart=/home/user/caddy-docker-dns/update.sh
